---
layout: default
---

<div id="hero" class="container-fluid">
  <div class="col-md-12">
    <img src="{{ site.baseurl }}/images/hero-image.png" alt="Hero Image" class="img-responsive hero-image">
    <div class="hero-text">
      <h2 class="text-center">
        “WE ALL WORK BETTER WHEN WE SHARE INFORMATION AND HAVE
        THE TOOLS TO COLLABORATE...co.lateral MAKES THAT HAPPEN”
      </h2>
      <p class="text-center slogan-one">
        Software and technology solutions delivered for you
      </p>
      <p class="text-center slogan-two">
        WORK SMARTER  |  COMMUNICATE BETTER  |  REDDUCE RISK  |  MAXIMISE NEW OPPORTUNITIES
      </p>
    </div>
  </div>
</div>
<div id="hero-border"></div>

<div id="swoop" class="container-fluid">
  <div class="container">
    <h1>{{ site.data.swoop-details.title }}</h1>
    <hr class="orange"/>
    <div class="row">
      {% for description in site.data.swoop-details.mini-descriptions %}
      <div class="col-lg-4">
        <h2>{{ description.title }}</h2>
        <p>{{ description.description }}</p>
      </div>
      {% endfor %}
    </div>
    <hr class="hr-dotted">
    <div class="row">
      <div class="col-md-6 col-md-push-6">
        <img src="{{ site.baseurl }}/{{ site.data.swoop-details.description-logo }}" alt="Swoop Logo" class="img-responsive logo">
      </div>
      <div class="col-md-6 col-md-pull-6">
        <div class="description">
          {% for description in site.data.swoop-details.descriptions %}
            <p>{{ description }}</p>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
<div id="swoop-border"></div>

<div id="services" class="container-fluid">
  <div class="container">
    <h1>{{ site.data.services.title }}</h1>
    <hr class="yellow-green"/>
    <div class="row">
      {% for service in site.data.services.services %}
      <div class="col-md-6">
        <h2>{{ service.title }}</h2>
        <p>{{ service.description }}</p>
      </div>
      {% endfor %}
    </div>
    <p class="text-center">
      <a class="btn btn-default" href="{{ site.baseurl }}{{ site.data.services.button-url }}" role="button">{{ site.data.services.button-title }}</a>
    </p>
    <p class="text-center button-description">
      {{ site.data.services.button-description }}
    </p>
  </div>
</div>