<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">
                <img alt="Brand" src="{{site.baseurl}}/images/swoop_logo.png">
            </a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                {% for link in site.data.navbar-links %}
                    <li><a class="text-center{% if page.url =='/colateral/' %} {{ link.custom-class }}{% endif %}" href="{{ site.baseurl }}{{ link.url }}">{{ link.name }}</a></li>
                {% endfor %}
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>