body
  font-family: 'GothamBook', 'sans-serif'
  color: #33383D
  margin-top: 71px
  h1
    font-size: 1.5em
    text-align: center
  h2
    font-size: 1.4em
    margin-bottom: 15px
    font-family: 'GothamMedium', 'sans-serif' !important
  .container-fluid
    padding: 0
  nav
    background-color: #3C3D41 !important
    min-height: 71px !important
    li
      a
        color: #ffffff !important
        line-height: 40px !important
        &:hover
          color: #9d9d9d !important
    .navbar-brand
      padding: 5px
      height: 70px
      img
        height: 100%
    .navbar-toggle
      padding: 19px 16px