#hero
  background-color: #ffffff
  .hero-image
    max-height: 200px
    margin-top: 50px
    margin-bottom: 100px
  h2
    font-family: 'GothamLight', 'sans-serif' !important
    margin: 2% 25%
    font-size: 2em
  .feature-image
    max-height: 100px
    margin-top: 30px
  p
    font-size: 16px
    font-family: 'GothamLight', 'sans-serif'
    margin: 10px 0 30px 0
    strong
      font-family: 'GothamBook', 'sans-serif'
#hero-border
  left: 0
  top: 0
  width: 100%
  height: 0
  background: #ffffff
  text-align: center
  &::before
    content: ""
    display: inline-block
    top: 100%
    width: 100%
    border-left: 50vw solid transparent
    border-right: 50vw solid transparent
    border-top: 50px solid #ffffff
    box-sizing: border-box

#colateral
  padding-top: 80px
  background-color: #3C3D41
  color: #ffffff
  h1
    font-family: "GothamLight", "sans-serif"
  hr
    width: 120px
    margin-top: 15px
    border-top: none
    border-bottom: 2px solid #F25A2A
  p
    margin: 5% 25%
#colateral-border
  left: 0
  top: 0
  width: 100%
  height: 0
  background: #3C3D41
  text-align: center
  &::before
    content: ""
    display: inline-block
    top: 100%
    width: 100%
    border-left: 50vw solid transparent
    border-right: 50vw solid transparent
    border-top: 50px solid #3C3D41
    box-sizing: border-box

#about-top
  background-color: #ffffff
  .container
    margin-top: 50px
    .about-top-logo
      max-height: 400px
      margin-top: 50px
      margin-bottom: 50px
    .description
      margin-top: 50px
      margin-bottom: 50px
#about-top-border
  left: 0
  top: 0
  width: 100%
  height: 0
  background: #ffffff
  text-align: center
  &::before
    content: ""
    display: inline-block
    top: 100%
    width: 100%
    border-left: 50vw solid transparent
    border-right: 50vw solid transparent
    border-top: 50px solid #ffffff
    box-sizing: border-box

#about-bottom
  background-color: #F7F7F7
  .container
    margin-top: 50px
    .about-bottom-logo
      max-height: 250px
      margin-top: 100px
      margin-bottom: 50px
    .description
      margin-top: 50px
      margin-bottom: 50px
#about-bottom-border
  left: 0
  top: 0
  width: 100%
  height: 0
  background: #F7F7F7
  text-align: center
  &::before
    content: ""
    display: inline-block
    top: 100%
    width: 100%
    border-left: 50vw solid transparent
    border-right: 50vw solid transparent
    border-top: 50px solid #F7F7F7
    box-sizing: border-box

@media (max-width: $screen-xs-max)
  #hero
    .hero-image
      margin-bottom: 50px
    h2
      margin: 2% 5%
  #colateral
    p
      margin: 5% 10%
  #about-top
    .container
      .about-top-logo
        max-height: 200px
  #about-bottom
    .container
      .about-bottom-logo
        max-height: 170px
        margin-top: 50px
        margin-bottom: 50px

@media (max-width: $screen-sm-max) and (min-width: $screen-sm-min)
  #about-top
    .container
      .about-top-logo
        margin-top: 200px
        margin-bottom: 200px