hr
  width: 120px
  border-color: #ffffff
  &.green
    border-bottom: 2px solid #15C4CB
  &.green-full
    border-bottom: 1px solid #15C4CB
    width: 100%
  &.full-width
    width: 100%
    border-color: #B3B3B3

#post
  padding-top: 30px
  padding-bottom: 30px
  .container
    padding-left: 100px
    padding-right: 100px
    .heading
      img
        width: 100%
      h1
        text-transform: uppercase
        margin-top: 10px
      .time
        font-family: "GothamLight", "sans-serif"
        font-size: 13px
        color: #999999
    .content
      margin-top: 40px
      margin-bottom: 40px
    .thumbnail
      background-color: #F2F2F2
      padding: 0
      h3
        text-transform: uppercase
        margin-top: 10px
      .caption
        padding: 20px
        .time
          font-family: "GothamLight", "sans-serif"
          font-size: 13px
          color: #999999
        .btn
          margin-top: 15px

@media (max-width: $screen-md-max)
  #post
    .container
      padding-left: 50px
      padding-right: 50px

@media (max-width: $screen-xs-max)
  #post
    .container
      padding-left: 25px
      padding-right: 25px