---
layout: default
css: colateral.css
---

<section id="hero" class="container-fluid">
    <div class="col-md-12">
        <img src="{{site.baseurl}}/images/swoop_logo_vertical.png" alt="logo" class="img-responsive center-block hero-image">
        <h2 class="text-center"><strong>Technology</strong> that can meet the needs of your business <strong>today</strong> and in the <strong>future</strong></h2>
        <div class="row">
            <div class="col-md-2 col-md-offset-1">
                <img src="{{ site.baseurl }}/images/features/customised_graphic.png" alt="test" class="img-responsive center-block feature-image">
                <p class="text-center">Hello World</p>
            </div>
            <div class="col-md-2">
                <img src="{{ site.baseurl }}/images/features/customised_graphic.png" alt="test" class="img-responsive center-block feature-image">
                <p class="text-center">Hello World</p>
            </div>
            <div class="col-md-2">
                <img src="{{ site.baseurl }}/images/features/customised_graphic.png" alt="test" class="img-responsive center-block feature-image">
                <p class="text-center">Hello World</p>
            </div>
            <div class="col-md-2">
                <img src="{{ site.baseurl }}/images/features/customised_graphic.png" alt="test" class="img-responsive center-block feature-image">
                <p class="text-center">Hello World</p>
            </div>
            <div class="col-md-2">
                <img src="{{ site.baseurl }}/images/features/customised_graphic.png" alt="test" class="img-responsive center-block feature-image">
                <p class="text-center">Hello World</p>
            </div>
        </div>
    </div>
</section>
<div id="hero-border"></div>