---
layout: default
css: colateral.css
---

<section id="hero" class="container-fluid">
    <div class="col-md-12">
        <img src="{{site.baseurl}}/images/colateral/colateral.png" alt="logo" class="img-responsive center-block hero-image">
        <h2 class="text-center">{{ page.hero-title }}</h2>
        <div class="row">
            <div class="col-md-2 col-md-offset-1 col-xs-6 col-sm-4">
                <img src="{{ site.baseurl }}/{{ page.hero-icon-1 }}" alt="test" class="img-responsive center-block feature-image">
                <p class="text-center">{{ page.hero-icon-1-text }}</p>
            </div>
            <div class="col-md-2 col-xs-6 col-sm-4">
                <img src="{{ site.baseurl }}/{{ page.hero-icon-2 }}" alt="test" class="img-responsive center-block feature-image">
                <p class="text-center">{{ page.hero-icon-2-text }}</p>
            </div>
            <div class="col-md-2 col-xs-6 col-sm-4">
                <img src="{{ site.baseurl }}/{{ page.hero-icon-3 }}" alt="test" class="img-responsive center-block feature-image">
                <p class="text-center">{{ page.hero-icon-3-text }}</p>
            </div>
            <div class="col-md-2 col-xs-6 col-sm-6">
                <img src="{{ site.baseurl }}/{{ page.hero-icon-4 }}" alt="test" class="img-responsive center-block feature-image">
                <p class="text-center">{{ page.hero-icon-4-text }}</p>
            </div>
            <div class="col-md-2 col-sm-6">
                <img src="{{ site.baseurl }}/{{ page.hero-icon-5 }}" alt="test" class="img-responsive center-block feature-image">
                <p class="text-center">{{ page.hero-icon-5-text }}</p>
            </div>
        </div>
    </div>
</section>
<div id="hero-border"></div>

<section id="colateral" class="container-fluid">
    <div class="container">
        <h1>{{ page.colateral-title }}</h1>
        <hr class="orange"/>
        <p class="text-center">{{ page.colateral-description }}</p>
    </div>
</section>
<div id="colateral-border"></div>

<section id="about-top" class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <img src="{{ site.baseurl }}/{{ page.about-top-image }}" alt="About Logo" class="img-responsive center-block about-top-logo">
            </div>
            <div class="col-sm-6">
                {% for description in page.about-top-descriptions %}
                <div class="description">
                    <h1 class="text-left">{{ description.title }}</h1>
                    <p>{{ description.description }}</p>
                </div>
                {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>
<div id="about-top-border"></div>

<section id="about-bottom" class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-push-6">
                <img src="{{ site.baseurl }}/{{ page.about-bottom-image }}" alt="About Logo" class="img-responsive center-block about-bottom-logo">
            </div>
            <div class="col-md-6 col-md-pull-6">
                {% for description in page.about-bottom-descriptions %}
                <div class="description">
                    <h1 class="text-left">{{ description.title }}</h1>
                    <p>{{ description.description }}</p>
                </div>
                {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>
<div id="about-bottom-border"></div>