---
layout: default
css: colateral.css
---

<section id="hero" class="container-fluid">
    <div class="col-md-12">
        <img src="{{site.baseurl}}/images/colateral/colateral.png" alt="logo" class="img-responsive center-block hero-image">
        <h2 class="text-center"><strong>Technology</strong> that can meet the needs of your business <strong>today</strong> and in the <strong>future</strong></h2>
        <div class="row">
            <div class="col-md-2 col-md-offset-1">
                <img src="{{ site.baseurl }}/images/colateral/workflow.png" alt="test" class="img-responsive center-block feature-image">
                <p class="text-center">Workflow</p>
            </div>
            <div class="col-md-2">
                <img src="{{ site.baseurl }}/images/colateral/communication.png" alt="test" class="img-responsive center-block feature-image">
                <p class="text-center">Communication</p>
            </div>
            <div class="col-md-2">
                <img src="{{ site.baseurl }}/images/colateral/insights.png" alt="test" class="img-responsive center-block feature-image">
                <p class="text-center">Insight</p>
            </div>
            <div class="col-md-2">
                <img src="{{ site.baseurl }}/images/colateral/compliance.png" alt="test" class="img-responsive center-block feature-image">
                <p class="text-center">Compliance</p>
            </div>
            <div class="col-md-2">
                <img src="{{ site.baseurl }}/images/colateral/reporting.png" alt="test" class="img-responsive center-block feature-image">
                <p class="text-center">Reporting</p>
            </div>
        </div>
    </div>
</section>
<div id="hero-border"></div>

<section id="colateral" class="container-fluid">
    <div class="container">
        <h1>What is co.lateral?</h1>
        <hr class="orange"/>
        <p class="text-center">
            co.lateral is a technical solution the meets the requirements of today's complex businiess, helping to drive more efficient processes and deliver better, more timely communications between teams and individuals. All actions are tracked, and logged, and the technology can report on a significant number of metrics and outcomes to suit each organisation's needs.
        </p>
    </div>
</section>
<div id="colateral-border"></div>