<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include navbar.html %}

    {{ content }}

    {% include contact.html %}
    <script type="text/javascript" src="{{ site.baseurl }}/js/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="{{ site.baseurl }}/js/bootstrap.js"></script>
    <script type="text/javascript" src="{{ site.baseurl }}/js/main.js"></script>
    <script>
      swoop.share = function(){
        var imported = document.createElement('script');
        imported.src = '{{ site.baseurl }}/js/sbg.js';
        document.head.appendChild(imported);
        setTimeout(function() {
          sbg();
        }, 1000);
      };
    </script>
    {{ page.customjs }}
  </body>

</html>
