---
layout: default
css: post.css
customcss: >
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"/>
customjs: >
    <script>
        $(document).ready(function(){
            swoop.share();
        });
    </script>
---

<section id="post">
    <div class="container">
        <div class="heading center-block text-center">
            <span class="time">{{ page.date | date: "%b %-d, %Y" }} </span>
            <h1>{{ page.title }}</h1>
            <hr class="green">
            <img class="img-responsive center-block" src="{{ page.article-image | prepend: site.baseurl }}" alt="Article Image">
        </div>
        <div class="content">
            {{ content }}
        </div>
        <hr class="full-width">
        <div class="share text-right">
            <a class="sbg-button sbg-button-facebook"  data-sbg-network="facebook"  data-sbg-url="{{ page.article-image | prepend: site.baseurl | prepend: site.url}}"  data-sbg-title="{{ page.title }}"  data-sbg-summary="{{ page.content | truncate: 160 }}"  data-sbg-image="{{ page.article-image }}"  data-sbg-width="600"  data-sbg-height="368" >
                <i class="sbg-button-icon fa fa-facebook"></i>
            </a>
            <a class="sbg-button sbg-button-twitter"  data-sbg-network="twitter"  data-sbg-text="http://google.com"  data-sbg-via="aakilfernandes"  data-sbg-hashtags="sharing,simple"  data-sbg-width="600"  data-sbg-height="258" >
                <i class="sbg-button-icon fa fa-twitter"></i>
            </a>
            <a class="sbg-button sbg-button-google-plus"  data-sbg-network="google-plus"  data-sbg-url="http://google.com"  data-sbg-width="500"  data-sbg-height="505" >
                <i class="sbg-button-icon fa fa-google-plus"></i>
            </a>
            <a class="sbg-button sbg-button-email"  data-sbg-network="email"  data-sbg-subject="Create simple share buttons"  data-sbg-body="http://google.com" >
                <i class="sbg-button-icon fa fa-envelope"></i>
            </a>
        </div>
        <div class="related">
            {% assign counter = 0 %}
            {% for post in site.posts %}
                {% if post.url != page.url %}
                    {% for category in page.categories %}
                        {% if post.categories contains category and counter < 3 %}
                            <div class="col-sm-6 col-md-4">
                                <div class="thumbnail">
                                    <img src="{{ post.article-image | prepend: site.baseurl }}" alt="Article image">
                                    <div class="caption">
                                        <span class="time">{{ post.date | date: "%b %-d, %Y" }}</span>
                                        <h3>{{ post.title }}</h3>
                                        <hr class="green-full">
                                        <p><a href="{{ post.url | prepend: site.baseurl }}" class="btn btn-default" role="button">READ ARTICLE</a></p>
                                    </div>
                                </div>
                            </div>
                            {% assign counter=counter | plus:1 %}
                            {% break %}
                        {% endif %}
                    {% endfor %}
                {% endif %}
            {% endfor %}
        </div>
    </div>
</section>
